.board {
    display: grid;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    pointer-events: auto;
    cursor: url('../images/molotochek.png'), auto;
}

.board-cell {
    background-color: aqua;
    border: 1px solid black;
    height: 125px;
}

.score {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    margin: 20px auto 0px;
}
